/* Estilos generales */
.title {
  color: rgb(248, 1, 1);
  text-align: center;
}

body {
  background-color: #ffffff;
}

/* Estilos para el cuento */
.story {
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
}

.first-letter {
  font-size: 36px; /* Tamaño de la primera letra más grande */
  color: rgb(0, 95, 36); /* Color de la primera letra */
  font-weight: bold; /* Texto en negrita */

  margin: 0 10px 0 0; /* Espacio a la derecha de la primera letra */
}

